@mixin footer_text_links {
    font-size: 1.5rem;
    font-weight: 500;
}

@mixin text_field_newsletter {
    color: $white-color !important;
    background-color: $black-color;
    border: 0;
    border-bottom: 0.063rem solid rgba(188, 199, 202, .4);
    height: 2.688rem;
    margin-bottom: 0;
    padding: 0 0 0.875rem;
    font-size: 1.25rem;
    font-weight: 500;
    outline: none;
}

@mixin buttons {
    height: 2.6rem;
    width: 9rem;
    background-color: $black-color;
    color: $white-color;
    border-radius: 0.35rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: oblique;
}

@mixin hover_button_effects {
    cursor: pointer;
}