.about_main_container {
    background-color: $primary-color;
    overflow: hidden;

    .about_hero_section {
        height: fit-content;
        width: 95%;
        margin: auto;
        padding: clamp(1.5rem, 2.5vw + 1rem - 1rem, 3rem) 0;
        border-bottom: solid 1px $black-color;
        
        .hero_section_top {
            height: clamp(11rem, 31vw + 1rem - 1rem, 23.8rem);
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            div:first-child {
                height: fit-content;
                display: flex;
                flex-direction: column;
                row-gap: clamp(4rem, 10vw + 1rem - 1rem, 17rem);

                .image_wrapper {
                    border-radius: 0.5rem;
                    overflow: hidden;
                    height: clamp(4.3rem, 15vw + 1rem - 1rem, 10rem);
                    width: clamp(8rem, 30vw + 1rem - 1rem, 18.688rem);

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 0.5rem;
                    }
                }

                span {
                    font-size: clamp(0.875rem, 2.5vw + 1rem - 1rem, 1.25rem);
                    letter-spacing: -.03em;
                    font-weight: 500;
                    line-height: 140%;
                    margin: 0;
                    text-align: right;
                }
            }

            .image_wrapperTwo {
                height: clamp(12rem, 35vw + 1rem - 1rem, 28.375rem);
                width: clamp(7.5rem, 25vw + 1rem - 1rem, 19.375rem);

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 0.5rem;
                }
            }
        }

        .hero_section_bottom {

            h1 {
                text-align: right;
                margin: 0;
                font-size: clamp(4.16rem, 20vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                line-height: 83%;
                letter-spacing: -.08em;
                padding-right: 0.65rem;
            }

            h2 {
                margin: 0;
                font-size: clamp(4.16rem, 20vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                line-height: 83%;
                letter-spacing: -.08em;
            }
        }

    }

    .about_content_section {
        padding: 7.5rem 0 0 0;
        height: fit-content;

        .content_section_story {
            
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            width: 95%;
            margin: auto;
            
            p {
                width: clamp(18rem, 69.3vw + 1rem - 1rem, 52.4rem);
                margin: 0;
                font-size: clamp(1.5rem, 4.1vw + 1rem - 1rem, 3rem);
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -.04em;
            }
        }

        .content_section_sliders {
            display: flex;
            flex-direction: column;
            row-gap: clamp(3.5rem, 15vw + 1rem - 1rem, 7.5rem);
            margin-top: clamp(3rem, 12vw + 1rem - 1rem, 10rem);
            height: fit-content;
            width: 100%;
            
            .embla {
                overflow: hidden;
                
                .embla__container {
                    display: flex;
                    
                    .embla__slide {
                        height: clamp(19rem, 40vw + 1rem - 1rem, 30rem);
                        margin-right: clamp(0.5rem, 2.5vw + 1rem - 1rem, 1.5rem);

                        img {
                            height: 100%;
                            width: fit-content;
                            object-fit: cover;
                            border-radius: 0.5rem;
                        }
                    }
                    
                    .embla__slide2 {
                        text-align: center;
                        margin-left: 1.8rem;
                        font-size: clamp(3.5rem, 10.71vw + 1rem - 1rem, 7.5rem);
                        font-weight: 700;
                        line-height: 86%;
                        letter-spacing: -.08em;
                        text-transform: uppercase;
                        padding-right: 0.6rem;
                    }
                }
            }
        }

        .content_section_info {
            width: 95%;
            margin: clamp(5rem, 15vw + 1rem - 1rem, 12.5rem) auto;
            display: flex;
            flex-direction: reverse;
            justify-content: space-between;
            row-gap: 2rem;
            column-gap: 1rem;

            .section_info_image {
                height: clamp(30rem, 80vw + 1rem - 1rem, 46rem);
                width: 32.438rem;

                img {
                    border-radius: 0.5rem;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            
            .section_info_container {
                width: 51%;

                h2 {
                    margin: 0;
                    font-size: clamp(2.5rem, 6.733vw + 1rem - 1rem, 4.5rem);
                    letter-spacing: -.04em;
                    font-weight: 700;
                    line-height: 88%;
                }
                
                .values_container {
                    margin-top: clamp(2.5rem, 6.5vw + 1rem - 1rem, 5rem);
                    border-top: solid 1px $black-color;

                    .single_value {
                        display: flex;
                        column-gap: clamp(2rem, 5.5vw + 1rem - 1rem, 5rem);
                        padding: 2rem 0;
                        border-bottom: solid 1px $black-color;;

                        h3 {
                            font-size: clamp(1.65rem, 4.5vw + 1rem - 1rem, 3rem);
                            font-weight: 600;
                            line-height: 100%;
                            letter-spacing: -.04em;
                            margin: 0;
                        }

                        h4 {
                            font-size: clamp(0.875rem, 1.8vw + 1rem - 1rem, 1.25rem);
                            font-weight: 500;
                            line-height: 140%;
                            letter-spacing: -.03em;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .about_talent_section {
        background-color: $black-color;
        color: $white-color;
        height: clamp(100dvh, 90vw + 1rem - 1rem, 145dvh);
        background-image: url('https://assets-global.website-files.com/6606f0f658b42ca7220e3695/660bfcae5749fee5cdae4952_Bg%20Text%20Video-poster-00001.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: clamp(16rem, 45vw + 1rem - 1rem, 36.25rem);
        position: relative;

        div:first-child {
            height: 100%;
            width: 95%;
            margin: auto;
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            position: inherit;
            z-index: $base-index !important;

            p {
                width: clamp(18.3rem, 76vw + 1rem - 1rem, 60rem);
                margin: 0;
                font-size: clamp(1.2rem, 3.8vw + 1rem - 1rem, 3rem);
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -.04em;
            }

            button {
                width: 7rem;
                height: 2.5rem;
                background: transparent;
                color: $white-color;
                border: solid 0.08rem $white-color;
                border-radius: 0.4rem;
                font-size: 1rem;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: -.02em;
                transition: transform 1000ms;
            }

            button:hover {
                cursor: pointer;
                transform:translateY(-15%) translateX(4%);
                transition: transform 250ms;
            }
        }

        .about_talent_overlay {
            background-color: rgba(0, 0, 0, .2);
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            z-index: $low-index;
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 768px) {
    .about_main_container {
        .content_section_info {
            flex-direction: column;

            .section_info_image {
                width: 100% !important;
            }

            .section_info_container {
                width: 100% !important;
            }
        }
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 426px) {
    .about_main_container {

        .content_section_story {
        
            p {
            width: 100% !important;
            }
        }
    }
}