.artikler_container {
    color: black;

    main {
        display: flex;

        .sidepanel {
            top: 3rem;
            background-color: $white-color;
            position: fixed;
            height: 100%;
            width: 15.5rem;
            box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.14);
            z-index: $low-index;
            padding: 0.2rem 0;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 0.2rem;
                padding: 0 0.5rem;

                .active {
                    background-color: $black-color;
                    color: $white-color;
                }

                .active:hover {
                    background-color: $black-color;
                    color: $white-color;
                }

                li {
                    color: #777777;
                    cursor: pointer;
                    font-size: 1rem;
                    padding: 0.3rem 0.55rem;
                    border-radius: 0.25rem;
                }

                li:hover {
                    background-color: #ddd;
                    color: $black-color;
                }
            }

            .divider {
                height: 1.5rem;
                width: 100%;
                background-color: $black-color;
                border: none;
                margin-bottom: 1rem;
            }

            .form_container {
                padding: 0 0.5rem;

                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.7rem;

                    .input_controler {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.3rem;

                        label {
                            font-size: 0.8rem;
                        }

                        input {
                            height: 1.9rem;
                            border-radius: 0.25rem;
                            padding: 0 0.5rem;
                            border: solid 0.1rem;
                            border-color: #777777;

                        }
                    }

                    .select_controler {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.3rem;

                        label {
                            font-size: 0.8rem;
                        }

                        select {
                            height: 1.9rem;
                            padding: 0 0.5rem;
                            border-radius: 0.25rem;
                            border-color: #777777;
                        }
                    }

                    button {
                        cursor: pointer;
                        background-color: $black-color;
                        color: $white-color;
                        height: 2rem;
                        width: 4.5rem;
                        border-radius: 0.25rem;
                        margin-top: 1rem;
                        border: none;
                    }


                }
            }
        }

        .content {
            min-height: 120vh;
            width: 90%;
            margin: 0 0 0 15.5rem;
            padding: 0 1rem;
            background-color: $tertiary-color;

            h1 {
                font-weight: 600;
            }

            .view_filter {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                column-gap: 0.3rem;
                margin-bottom: 0.5rem;

                p {
                    font-size: 0.8rem;
                    font-weight: 500;
                }

                select {
                    height: 1.9rem;
                    width: 4rem;
                    padding-left: 0.3rem;
                    border-color: #777777;
                    border-radius: 0.25rem;
                }
            }

            .data_table {
                width: 100%;
                border: solid 1.5px #ddd;
                border-collapse: collapse;
                background-color: $white-color;

                tr:nth-child(even) {
                    background-color: $tertiary-color;
                }

                th {
                    border: solid 1.5px #ddd;
                    text-align: left;
                    padding: 0.5rem 0.3rem;
                    text-decoration: underline;
                    font-size: 0.9rem;
                }

                td {
                    border: solid 1.5px #ddd;
                    padding: 0.3rem 0.3rem;
                    font-size: 0.8rem;

                    .icons {
                        cursor: pointer;
                        color: $black-color;
                    }

                    .icons:hover {
                        transform: scale(1.09);
                    }

                    .tabs {
                        padding: 0.5rem;
                    }

                    .visning {
                        display: flex;
                        justify-content: flex-end;
                        padding: 0.3rem;
                        padding-right: 1rem;
                        background-color: $black-color;
                        color: $white-color;
                        border-radius: 0.25rem 0.25rem 0rem 0rem;
                    }

                    .leverandør_table {
                        width: 100%;
                        border: solid 1.5px #ddd;
                        border-collapse: collapse;


                        .span {
                            cursor: pointer;
                            width: 2.5rem;
                            display: flex;
                            column-gap: 0.15rem;
                            align-items: center;
                            justify-content: center;
                            background-color: #d2af80;
                            color: $white-color;
                            border-radius: 0.9rem;
                            padding: 0.05rem 0.05rem;
                        }

                        .detailer_table {
                            width: 100% !important;
                            border: solid 1.5px #ddd;
                            border-collapse: collapse;

                            img {
                                cursor: pointer;
                                border: solid 1px #171717;
                                margin: 0.2rem;
                                padding: 0.3rem
                            }
                        }
                    }

                    .oem_table {
                        width: 100%;
                        border: solid 1.5px #ddd;
                        border-collapse: collapse;
                    }


                    .artikkel_kjøretøy_table {
                        width: 100%;
                        border: solid 1.5px #ddd;
                        border-collapse: collapse;


                    }
                }

                .icons_group {
                    display: flex;
                    align-items: center;
                    column-gap: 0.3rem;

                    span {
                        font-size: 0.7rem;
                        cursor: pointer;
                        border: solid 1px transparent;
                        border-radius: 1rem;
                        padding: 0.1rem 0.38rem;
                        color: $white-color;
                    }

                    .leverandør_icon {
                        background-color: #008b8b;
                    }

                    .oem_icon {
                        background-color: #d2691e;
                    }

                    .artikkel_kjøretøy_icon {
                        background-color: #cfae83;
                    }
                }
            }

            .overlay {
                position: absolute;
                min-height: 133vh;
                width: 100%;
                z-index: $base-index;
                background-color: rgba(0, 0, 0, 0.6);
                transition-property: opacity;
                transition-duration: 900ms;
                transition-timing-function: ease;
                opacity: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .artikkel_modal {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                z-index: $high-index;
                height: fit-content;
                width: 38.7rem;
                background-color: $white-color;
                position: fixed;
                top: 39.8%;
                left: 30.5%;
                padding: 1rem;
                border-radius: 0.25rem;

                .modal_header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .modal_icon {
                        cursor: pointer;
                        color: #868e96;
                    }

                    .modal_icon:hover {
                        background-color: whitesmoke;
                        border-radius: 0.25rem;
                    }
                }

                
            }

            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;
                column-gap: 0.3rem;

                a {
                    color: $black-color;
                    padding: 0.5rem 1rem;
                    transition: background-color .2s;
                    border-radius: 0.25rem;
                }

                a:hover:not(.pagination_active) {
                    background-color: #ddd;
                }

                .pagination_active {
                    background-color: $black-color;
                    color: $white-color !important;
                }

                button {
                    cursor: pointer;
                    height: 2.2rem;
                    width: 4rem;
                    background-color: $black-color;
                    color: $white-color;
                    border-radius: 0.25rem;
                    border: none !important;
                }
            }
        }
    }

}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (min-width: 768px) {}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (min-width: 375px) {}