.blog_container {
    min-height: 100vh;
    width: 95%;
    margin: 2.5rem auto 7rem auto;

    .blog_title {
        display: flex;
        flex-direction: column;
        height: 23.5rem;

        h1,h2 {
            margin: 0;
            font-size: clamp(6.55rem, 20vw + 1rem - 1rem, 15rem);
            font-weight: 600;
            line-height: 83%;
            letter-spacing: -.08em;
        }
    }

    .blog_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .blog_cards_container {
            display: grid;
            grid-template-columns: repeat(3, minmax(13rem, 1fr) );
            row-gap: 3rem;
            column-gap: 1.5rem;

            .single_card {
                height: fit-content;
                padding-bottom: clamp(0.7rem, 1.5vw + 1rem - 1rem, 1rem);
                border-bottom: solid 1px $black-color;

                .image_wrapper {
                    border-radius: 1vw;
                    height: clamp(18rem, 50vw + 1rem - 1rem, 36.25rem);
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transition: transform .8s ease;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }

                h3 {
                    font-size: clamp(0.875rem, 2.22vw + 1rem - 1rem, 1.25rem);
                    font-weight: 500;
                    margin: 1rem 0 0.2rem 0;
                    line-height: 140%;
                    letter-spacing: -.03em;
                    text-transform: capitalize;
                }

                h4 {
                    font-size: clamp(1rem, 2.61vw + 1rem - 1rem, 1.5rem);
                    min-height: clamp(2.8rem, 11vw + 1rem - 1rem, 8rem);
                    margin: 0;
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                }
            }
        }

        h5 {
            font-size: clamp(4.25rem, 14.5vw + 1rem - 1rem, 7.5rem);
            font-weight: 700;
            line-height: 86%;
            letter-spacing: -.08em;
            margin: 4rem 0 0 0 ;
            transition: ease-in-out 0.3s;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
        }

        h5:hover {
            scale: percentage($number: 1.025);
        }

        .prev_btn {
            font-size: clamp(3.90rem, 14.5vw + 1rem - 1rem, 7.5rem);
        }

        .btn_effect {
            opacity: .2;
        }

        .btn_effect:hover {
            scale: initial !important;
            width: fit-content;
        }
    }

}

.blogDetails_container {
    height: fit-content;

    @keyframes slide_up_text {
        from {
            transform: translateY(35vh) skewY(15deg);
        }
        to {
            transform: translateY(0) skewY(0deg);
        }
    }

    @keyframes slide_up_card {
        from {
            transform: translateY(10vh) scale(0.85) ;
        }
        to {
            transform: translateY(0) scale(1);
        }
    }

    .blogDetails_hero_section {
        min-height: 82vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .hero_content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2.3rem;
            height: 20rem;
            width: 100%;
            margin: auto;
            z-index: $base-index;
            color: $white-color;
            left: 0;
            right: 0;
            bottom: 6%;
            
            h3 {
                font-size: 1.25rem;
                font-weight: 500;
                margin: 0;
                line-height: 140%;
                letter-spacing: -.03em;
            }
            
            h1 {
                height: 15.5rem;
                width: 60rem;
                text-align: center;
                margin: 0;
                font-size: clamp(2.5rem, 6.8vw + 1rem - 1rem, 4.5rem);
                font-weight: 700;
                line-height: 1;
                letter-spacing: -.04em;
                animation: 0.6s slide_up_text;
            }
            
        }
        
        .hero_overlay {
            margin-top: 5rem;
            height: 82vh;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            z-index: $low-index;
        }
    }

    .blogDetails_info_section {
        border-top: dashed 1px $black-color;
        border-bottom: solid 1px $black-color;

        .blogDetails_info_content {
            height: fit-content;
            width: 54.124rem;
            margin: auto;
            padding: 5rem 0; 

            h4 {
                font-size: clamp(1.25rem, 4vw + 1rem - 1rem, 2rem);
                font-weight: 500;
                line-height: 112%;
                letter-spacing: -.04em;
                margin: 0 0 5rem 0;
            }
    
            .info_block {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
    
                h2 {
                    margin: 0;
                    font-size: clamp(1.7rem, 4.6vw + 1rem - 1rem, 2.5rem);
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -.04em;
                }
    
                p {
                    margin: 0;
                    font-size: clamp(1rem, 2.5vw + 1rem - 1rem, 1.25rem);
                    font-weight: 400;
                    letter-spacing: -.015em;
                    line-height: 135%;
                }
            }

            .info_image_container {
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 0.5rem;
                    margin: 1.6rem 0 clamp(3rem, 15vw + 1rem - 1rem, 8.95rem) 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
    
    
            h5 {
                font-size: clamp(2rem, 5.25vw + 1rem - 1rem, 3rem);
                margin: 2.75rem 0 2.75rem 0;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -.04em;
            }
        }
    }

    .blogDetails_related_section {
        height: fit-content;
        width: 95%;
        margin: auto;
        padding: 4rem 0 5rem 0;

        h2 {
            line-height: 88%;
            font-weight: 700;
            font-size: clamp(2.5rem, 8vw + 1rem - 1rem, 4.5rem);
            letter-spacing: -.04em;
            margin: 0;
            animation: slide_up_text;
            animation-timeline: view();
            animation-range: entry 10%;
        }

        .related_cards_container {
            margin: 2.5rem 0 2rem 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, minmax(13rem, 1fr) );
            row-gap: 2rem;
            column-gap: 1rem;

            .single_card {
                padding-bottom: clamp(0.6rem, 1.5vw + 1rem - 1rem, 1rem);
                border-bottom: solid 1px $black-color;
                animation: ease-in-out slide_up_card;
                animation-timeline: view();
                animation-range: entry -15% cover 20%;

                .image_wrapper {
                    height: clamp(18rem, 50vw + 1rem - 1rem, 36.25rem);
                    border-radius: 1vw;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transition: transform .8s ease;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }

                h3 {
                    font-size: clamp(0.875rem, 2.22vw + 1rem - 1rem, 1.25rem);
                    font-weight: 500;
                    margin: 1rem 0 0.2rem 0;
                    line-height: 140%;
                    letter-spacing: -.03em;
                }

                h4 {
                    font-size: clamp(1rem, 2.61vw + 1rem - 1rem, 1.5rem);
                    min-height: clamp(2.75rem, 9vw + 1rem - 1rem, 5.5rem);
                    margin: 0;
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                }
            }
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 835px) {

    .blog_container {
        margin: 1.5rem auto 7rem auto;

        .blog_title {
            height: fit-content !important;
        }

        .blog_content {

            .blog_cards_container {
                grid-template-columns: repeat(2, minmax(13rem, 1fr) );
            }
        }
    }

    .blogDetails_container {

        .blogDetails_hero_section {

            h1 {
                width: 40rem !important;
            }
        }

        .blogDetails_info_content {
            width: 95% !important;
            margin: auto !important;
        }

        .blogDetails_related_section {

            .related_cards_container {
                grid-template-columns: repeat(2, minmax(13rem, 1fr) );
            }
        }
    }

    .blogDetails_related_section {
        padding: 4rem 0 2.5rem 0 !important;
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 441px) {

    .blog_container {

        .blog_title {
            width: 18rem !important;
        }

        .blog_content {

            .blog_cards_container {
                grid-template-columns: repeat(1, minmax(7rem, 1fr) );

                .single_card {

                    h4 {
                        height: fit-content !important;
                    }
                }
            }
        }
    }

    .blogDetails_container {

        .blogDetails_info_content {
            padding: 2.75rem 0 2rem 0 !important;

            h4 {
                margin: 0 0 4rem 0 !important;
            }
        }

        .blogDetails_hero_section {
            .hero_content {
                h3 {
                    font-size: 1rem !important;
                }

                h1 {
                    width: 95% !important;
                    margin: 0 auto !important;
                }
            }

            .hero_overlay {
                margin-top: 4rem !important;
            }
        }

        .blogDetails_related_section {
            padding: 3rem 0 1.5rem 0 !important;
            .related_cards_container {
                grid-template-columns: repeat(1, minmax(7rem, 1fr) );
            }
        }
    }
}

@media (max-width: 391px) {

    .blog_container {

        .single_card {
            width: 21.15rem!important;
        }
    }

    .blogDetails_container {
        .blogDetails_related_section {

            .single_card {
                width: 21.17rem!important;
            }
        }
    }
}

@media (max-width: 321px) {

    .blog_container {

        .single_card {
            width:17.9rem !important;
        }
    }

    .blogDetails_container {

        .blogDetails_hero_section {
            .hero_content {
                bottom: 12% !important;
                height: fit-content !important;
            }
        }

        .blogDetails_related_section {

            .single_card {
                width: 17.9rem!important;
            }
        }
    }
}