.blog_container {
    height: fit-content;
    width: 95%;
    margin: 3.5rem auto 7rem auto;

    .blog_title {
        display: flex;
        flex-direction: column;
        height: 23.5rem;

        h1 {
            margin: 0;
            font-size: 15rem;
            font-weight: 600;
            line-height: 83%;
            letter-spacing: -.08em;
        }
    }


    .blog_content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog_cards_container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            column-gap: 1.5rem;

            .single_card {
                width: 27.6rem;
                padding-bottom: 2rem;
                border-bottom: solid 1px $black-color;

                .image_wrapper {
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 580px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transition: transform .8s ease;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }


                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    margin: 1rem 0 0.2rem 0;
                    line-height: 140%;
                    letter-spacing: -.03em;
                }

                h3 {
                    height: 5.5rem;
                    margin: 0;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                }
            }

        }

        h4 {
            font-size: 7.5rem;
            font-weight: 700;
            line-height: 86%;
            letter-spacing: -.08em;
            margin: 4rem 0 0 0 ;
            transition: ease-in-out 0.3s;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
        }

        h4:hover {
            scale: percentage($number: 1.025);
        }

        .prev_btn {
            opacity: .2;
        }

        .prev_btn:hover {
            scale: initial !important;
            width: fit-content;
        }
    }

}

.blogDetails_container {
    height: fit-content;

    @keyframes slide_up_text {
        from {
            transform: translateY(35vh) skewY(15deg);
        }
        to {
            transform: translateY(0) skewY(0deg);
        }
    }

    @keyframes slide_up_card {
        from {
            transform: translateY(10vh) scale(0.85) ;
        }
        to {
            transform: translateY(0) scale(1);
        }
    }

    .blogDetails_hero_section {
        height: 82vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .hero_content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2.3rem;
            height: 20rem;
            width: 60%;
            margin: auto;
            z-index: $base-index;
            color: $white-color;
            left: 0;
            right: 0;
            bottom: 2rem;

            h3 {
                font-size: 1.25rem;
                font-weight: 500;
                margin: 0;
                line-height: 140%;
                letter-spacing: -.03em;
            }

            h1 {
                text-align: center;
                margin: 0;
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 88%;
                letter-spacing: -.04em;
                animation: 0.6s slide_up_text;
            }
            
        }

        .hero_overlay {
            margin-top: 5.4rem;
            height: 82vh;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            z-index: $low-index;
        }
    }

    .blogDetails_info_section {
        border-top: dashed 1px $black-color;
        border-bottom: solid 1px $black-color;

        .blogDetails_info_content {
            height: fit-content;
            width: 54.125rem;
            margin: auto;
            padding: 4.5rem 0 6.25rem 0; 

            h4 {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 116%;
                letter-spacing: -.02em;
                margin-bottom: 5rem;
            }
    
            .info_block {
                display: flex;
                flex-direction: column;
                row-gap: 1.75rem;
    
                h2 {
                    margin: 0;
                    font-size: 2.5rem;
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -.04em;
                }
    
                p {
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 140%;
                }
            }
    
            img {
                border-radius: 0.5rem;
                margin: 1.6rem 0 8.95rem 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
    
            h5 {
                font-size: 3rem;
                margin: 2.75rem 0 2.75rem 0;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -.04em;
            }
        }

    }

    .blogDetails_related_section {
        height: fit-content;
        width: 95%;
        margin: auto;
        padding: 4rem 0 7.5rem 0;

        h2 {
            line-height: 88%;
            font-weight: 700;
            font-size: 4.5rem;
            letter-spacing: -.04em;
            margin: 0;
            animation: slide_up_text;
            animation-timeline: view();
            animation-range: entry 10%;
        }

        .related_cards_container {
            margin-top: 4rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 1.5rem;
            margin-bottom: 2rem;

            .single_card {
                width: 27.6rem;
                padding-bottom: 2rem;
                border-bottom: solid 1px $black-color;
                animation: ease-in-out slide_up_card;
                animation-timeline: view();
                animation-range: entry -15% cover 20%;


                .image_wrapper {
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 580px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transition: transform .8s ease;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }


                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    margin: 1rem 0 0.2rem 0;
                    line-height: 140%;
                    letter-spacing: -.03em;
                }

                h3 {
                    height: 5.5rem;
                    margin: 0;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                }
            }

        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {}