.contact_container {
    height: 88vh;
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    padding: 8.5rem 0 4rem 0;

    .contact_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem 0 0 0;

        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 1.25rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 0.3rem;
            align-items: start;
            padding: 0;
            
            li {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;

                svg {
                    transition: 0.35s ease-in-out;
                }

                h2 {
                    margin: 0;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -0.04rem;
                }
            }

            li:hover {

                svg {
                    transform: translateX(30%);
                }
            }
        }
    }

    .contact_tittle {
        height: fit-content;
        width: 49rem;
        padding-right: 0.23rem;

        h1 {
            text-align: right;
            font-size: 15rem;
            font-weight: 600;
            line-height: 83%;
            letter-spacing: -1.2rem;
            margin: 0;
        }
    }
}