.contact_container {
    height: auto;
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    padding-top: clamp(4.5rem, 20vw + 1rem - 1rem, 8.5rem);
    padding-bottom: clamp(2rem, 10vw + 1rem - 1rem, 4rem);
    
    .contact_content {
        display: flex;
        flex-direction: column;
        row-gap: clamp(1rem, 15.4vw + 1rem - 1rem, 12rem);
        justify-content: space-between;

        h3 {
            margin: 0;
            font-weight: 500;
            font-size: clamp(1rem, 1.7vw + 1rem - 1rem, 1.25rem);
            line-height: 140%;
            letter-spacing: -.03em;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 0.3rem;
            align-items: flex-start;
            padding: 0;
            
            li {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;

                svg {
                    transition: 0.35s ease-in-out;
                    font-size: clamp(2rem, 3.5vw + 1rem - 1rem, 2.5rem);
                }

                h2 {
                    margin: 0;
                    font-size: clamp(1rem, 2vw + 1rem - 1rem, 1.5rem);
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                }
            }

            li:hover {

                svg {
                    transform: translateX(30%);
                }
            }
        }
    }

    .contact_tittle {
        height: 100%;
        width: 49rem;
        padding-right: 0.23rem;
        overflow: hidden;
        padding: 0 0 0.85rem 0; 

        h1 {
            text-align: right;
            font-size: clamp(4rem, 20vw + 1rem - 1rem, 15rem);
            font-weight: 600;
            line-height: 83%;
            letter-spacing: -.08em;
            margin: 0;
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 700px) {
    .contact_container {
        height: auto;
        flex-direction: column;
        row-gap: 3rem;

        .contact_tittle {
            align-self: flex-end;
            width: fit-content !important;
        }

        .contact_content {
            width: fit-content;
        }
    }
}

@media (max-width: 426px) {
    .contact_content {

        row-gap: 1.5rem !important;
    }
}