html,
body {
  padding: 0 ;
  margin: 0 ;
  font-family: "open sans", sans-serif ;
}

li {
  list-style: none;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
}
