@import "_variabels.module.scss";
@import "_mixins.module.scss";
@import "layout.module.scss";
@import "Contact.module.scss";
@import "Blog.module.scss";
@import "about.module.scss";
@import "projects.module.scss";
@import "services.module.scss";
@import "Accordion.module.scss";
@import "Talent.module.scss";

.home_container {
    color: $black-color;
    background-color: $white-color;
    height: 100%;
    width: initial;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 0 0;

    @keyframes zoom_effect {
        from { opacity: 0; transform: scale(0.1) rotate(0);}
        to { opacity: 1; transform: scale(1) rotate(-10deg) }
    }

    .hero_container {
        height: fit-content;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        justify-content: space-between;
        
        .hero_content {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .hero_textfield {
                display: flex;
                flex-direction: column;
                width: 65%;
                z-index: $base-index;

                h3 {
                    font-size: clamp(0.875rem, 1.563vw + 1rem - 1rem, 1rem);
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 0 0 0.75rem 0;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01em;

                    svg {
                        margin-left: 0.5rem;
                        font-size: clamp(1rem, 2.5vw + 1rem - 1rem, 1.5rem);
                        color: rgb(0, 116, 205);
                    }
                }

                h1,h2 {
                    font-size: clamp(3.5rem, 10.254vw + 1rem - 1rem, 7.5rem);
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0;
                    letter-spacing: -.08em;
                    line-height: 90%;
                    font-style: oblique;
                }

                .hero_styler {
                    background-color: $black-color;
                    color: $white-color;
                    border-radius:  0.75vw ;
                    width: fit-content;
                    padding: 0.5rem 1.9rem 0.5rem 0.5rem;
                }

                .subHero_group {
                    width: 87%;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    p {
                        
                        width: 100%;
                        font-size: clamp(1rem, 1.709vw + 1rem - 1rem, 1.125rem);
                        font-weight: 500;
                        line-height: 100%;
                        margin: 1rem 0 1.625rem 0;

                        span {
                            font-weight: 700;
                        }
                    }

                    div {
                        overflow: hidden;
                        display: flex;
                        justify-content: space-between;

                        ul {
                            display: flex;
                            flex-direction: column;
                            margin: 0;
                            padding: 0rem;
                            
                            li {
                                display: flex;
                                align-items: center;
                                font-size: clamp(0.875rem, 1.563vw + 1rem - 1rem, 1rem);
                                margin: 0;
                                font-weight: 500;
                                line-height: 100%;
                                text-transform: capitalize;
    
                                svg {
                                    font-size: clamp(1.5rem, 2.5vw + 1rem - 1rem, 1.8rem);
                                    color: rgb(37, 167, 96);
                                }
                            }
                        }

                        .hero_action_buttons {
                            display: flex;
                            flex-direction: row-reverse;
                            column-gap: 1rem;
                            align-items: end;

                            .hero_mainBtn {
                                @include buttons;
                                height: 4.25rem;
                                width: 12.15rem;
                                font-size: 1rem;
                                text-transform: uppercase;
                            }

                            .hero_mainBtn:hover {
                                @include hover_button_effects;
                            }

                            .hero_subBtn {
                                background-color: transparent;
                                border: solid 0.1rem $black-color;
                                color: $black-color;
                                border-radius: 0.5vw;
                                font-weight: 600;
                                transition: transform 1000ms;
                                height: 4.25rem;
                                width: 12.15rem;
                                font-size: 1rem;
                                text-transform: uppercase;
                            }

                            .hero_subBtn:hover {
                                @include hover_button_effects;
                            }
                        }
                    }
                }
            }

            .hero_image_section {
                width: 45%;
                height: 38.5rem;
                overflow: hidden;
                z-index: $low-index;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 1vw;
                }
            }
        }

        .hero_slider {
            margin-top: 6rem;

            p {
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
                margin: 0 0 3rem 0;
                text-transform: capitalize;
            }
            
            .embla {
                overflow: hidden;
                
                .embla__container {
                    display: flex;
                    
                    .embla__slide {
                        height: 2.25rem;
                        margin-right: 2.5rem;
                        
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .about_container {
        height: fit-content;
        width: 95%;
        margin: auto;
        padding: 10rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .about_content_left {
            width: 30%;

            .image_container {
                height: 30rem;

                img {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 1vw;
                }
            }

        }

        .about_content_right {
            width: 61.85%;

            p {
                font-size: clamp(1rem, 4.01vw + 1rem - 1rem, 3rem);
                font-weight: 600;
                line-height: 1;
                letter-spacing: -.04em;
                margin: 0;

                span {
                    color: hsl(0 0% 50% / 0.2);
                    background-clip: text;
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    background-image: linear-gradient(90deg, $black-color, $black-color) ;
                    animation: scroll_reveal linear forwards;
                    animation-timeline: view(y);
                    animation-range-start: cover 9rem;
                    animation-range-end: contain 10vh;
                }
            }
        }

        @keyframes scroll_reveal  {
            to {
                background-size: 100% 100%;
            }
        }
    }

    .project_container {
        background-color: $black-color;
        color: $white-color;
        height: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 10rem  0;

        .project_hero_textfield {
            height: fit-content;
            width: 95%;
            margin:  auto;
            display: flex;
            flex-direction: column;

            h2 {
                width: fit-content;
                font-size: clamp(3rem, 19.8vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: -.08em;
                line-height: 83%;
            } 
            
        }

        .project_gallery {
            height: 200vh;
            width: 95%;
            margin: auto;
            display: flex;
            flex-direction: row;
            gap: clamp(0.5vw, 1.5vw, 2vw);
            box-sizing: border-box;
            overflow: hidden;
            z-index: $base-index;

            .gallery_content {
                height: 100%;
                width: 25%;
                display: flex;
                flex-direction: column;
                gap: clamp(0.5vw, 1.5vw, 2vw);
                position: relative;

                .image_container {
                    height: 30rem;
                    position: relative;
                    overflow: hidden;
                    border-radius: 1vw;
                    
                    img {
                        border-radius: 1vw;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: transform .55s ease;
                    }
                }

                .image_container:hover {
                    img {
                        transform: scale(1.05);
                    }
                }

                &:nth-of-type(1) {
                    top:-45%;
                }
                &:nth-of-type(2) {
                    top:-95%;
                }
                &:nth-of-type(3) {
                    top: -45%;
                }
                &:nth-of-type(4) {
                    top:-80%;
                }
            }
        }

        .project_button_container {
            width: 95%;
            margin: 2rem auto auto auto;

            .project_button {
                @include buttons;
                background-color: $white-color;
                color: $black-color;
                height: 3.7rem;
                width: 12.15rem;
                border: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;

                svg {
                    margin: 0 0 0.25rem 0.4rem;
                    font-size: clamp(0.875rem, 1.4vw + 1rem - 1rem, 1.15rem);
                }
            }
    
            .project_button:hover, .project_button:focus {
                @include hover_button_effects;
                transform:translateY(-15%) translateX(4%);
            }
        }
    }

    .social_container {
        height: fit-content;
        width: 95%;
        padding: 10rem 0 0 0 ;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        row-gap: 2.5rem;

        h2 {
            width: 56rem;
            margin: 0;
            line-height: clamp(0.93, 0.98, 1);
            letter-spacing: -.08em;
            font-size: clamp(2.45rem, 11.719vw + 1rem - 1rem, 7.5rem);
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            
        }

        .icons_container {
            display: flex;
            border: solid 2px $black-color;
            border-radius: 1vw;

            .neutral_link {
                display: grid;
                place-content: center;
                height: clamp(5rem, 15vw + 1rem - 1rem, 10rem);
                width: clamp(8rem, 20vw + 1rem - 1rem, 13rem);
                position: relative;
                transition: ease-in-out 850ms;

                svg {
                    transition: ease-in-out 0.35s;
                    color: $black-color;
                    font-size: clamp(1.6rem, 4vw + 1rem - 1rem, 2.6rem);
                    margin: calmp(3rem, 2.5vw, 5rem);
                }
            }

            .neutral_link:nth-child(1) {
                border-radius: 1vw 0rem 0rem 1vw;
            }

            .neutral_link:nth-child(1):hover {
                transform: translate(-10%, -10%) scale(1);
                background-color: $black-color;
                transition: transform 250ms ease-in-out;
                border-radius: 1vw;
                
                svg {
                    color: $white-color;
                    scale: percentage($number: 1.25);
                }
            }

            .neutral_link:nth-child(2) {
                display: grid;
                place-content: center;
                height: clamp(5rem, 15vw + 1rem - 1rem, 10rem);
                width: clamp(8rem, 20vw + 1rem - 1rem, 13rem);
                border-left:solid 2px $black-color;
                border-right:solid 2px $black-color;
                border-radius: 0;
            }

            .neutral_link:nth-child(2):hover {
                transform: translate(0%, -10%) scale(1);
                background-color: $black-color;
                transition: transform 250ms ease-in-out;
                border-radius: 1vw;
                
                svg {
                    color: $white-color;
                    scale: percentage($number: 1.25);
                }
            }
            
            .neutral_link:nth-child(3) {
                border-radius: 0rem 1vw 1vw 0rem;
            }

            .neutral_link:nth-child(3):hover {
                transform: translate(10%, -10%) scale(1);
                background-color: $black-color;
                transition: transform 250ms ease-in-out;
                border-radius: 1vw;
                
                svg {
                    color: $white-color;
                    scale: percentage($number: 1.25);
                }
            }
        }

        .social_image_container {
            height:  clamp(5rem, 22vw + 1rem - 1rem, 20rem);
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                border-radius: 1vw;
            }
        }
    }

    .article_container {
        height: fit-content;
        width: 95%;
        margin: auto;
        padding: 10rem 0;
        display: flex;
        flex-direction: column;

        h2 {
            width: fit-content;
            margin: 0;
            font-size: clamp(2.5rem, 7.032vw + 1rem - 1rem, 4.5rem);
            font-weight: 700;
            letter-spacing: -.04em;
            line-height: 88%;
        }

        .article_content {
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px $black-color;

            .single_article {
                border-top: solid 1px $black-color;
                position: relative;
                color: $quaternary-color;
                display: flex;
                justify-content: space-between;
                padding: 2rem 0;
                column-gap: clamp(0.5rem, 10.1vw + 1rem - 1rem, 9.1rem);

                h3 {
                    font-size: clamp(0.875rem, 1.954vw + 1rem - 1rem, 1.25rem);
                    font-weight: 500;
                    margin: 0;
                    line-height: 140%;
                    letter-spacing: -.03em;
                }

                span {
                    width: clamp(100%, 50vw + 1rem - 1rem, 71.5rem);
                    font-size: clamp(1.5rem, 4.688vw + 1rem - 1rem, 3rem);
                    font-weight: 600;
                    letter-spacing: -.04em;
                    line-height: 100%;
                    margin-right: clamp(0rem, 3vw + 1rem - 1rem, 3rem);
                }

                .image_container {
                    display: none;
                    height: 19rem;
                    width: 13rem;
                    object-fit: cover;
                    margin: auto 0;
                    position:absolute;
                    top: 0%;
                    bottom: 0%;
                    left: auto;
                    right: 6.25rem;
                    backdrop-filter: blur(1rem);
                    border: none;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 1vw;
                    }
                }
            }

            .single_article:hover {
                h3,span {
                    transition: 0.4s;
                    color: $black-color;
                }

                .image_container {
                    display:inline-block;
                    animation: ease-in-out zoom_effect 0.425s; 
                    transform: rotate(-10deg);
                    z-index: $low-index;
                }
            }
            
        }
    }

    .feedback_container {
        height: 100%;
        width: 100%;
        background-color: $primary-color;
        color: $black-color;
        padding: 10rem 0;
        
        .feedback_content {
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 5rem;

            h2 {
                width: 95%;
                margin: 0 auto;
                font-size: clamp(3.5rem, 11.719vw + 1rem - 1rem, 7.5rem);
                font-weight: 700;
                letter-spacing: -.08em;
                line-height: 86%;
            }

            .embla {
                overflow: hidden;
            }
            
            .embla__container {
                display: flex;
                
                .embla__slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: clamp(16rem, 45vw + 1rem - 1rem, 32.5rem);
                    width: clamp(19rem, 70vw + 1rem - 1rem, 46.875rem);
                    padding: clamp(0.5rem, 4.5vw + 1rem - 1rem, 3rem);
                    margin-right: clamp(0.5rem, 2.5vw + 1rem - 1rem, 3rem);
                    border-radius: 1vw;
                    row-gap: clamp(1.1rem, 3.5vw + 1rem - 1rem, 3rem);
                    flex:0 0 auto;
                    min-width: 0;
                    max-width: 100%;
                    background-color: $white-color;

                    h3 {
                        width: 100%;
                        margin: 0;
                        font-size: clamp(0.875rem, 1.954vw + 1rem - 1rem, 1.25rem);
                        font-weight: 500;
                        letter-spacing: -.03em;
                        line-height: 140%;
                    }

                    p {
                        width: 100%;
                        margin: 0 ;
                        font-size: clamp(1.2rem, 3.91vw + 1rem - 1rem, 2.5rem);
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: -.04em;
                    }
                }
            }
            
        }
    }

    .info_container {
        height: auto;
        width: 95%;
        margin: auto;
        padding: 10rem 0;
        display: flex;
        justify-content: space-between;

        .info_title {
            display: flex;
            flex-direction: column;

            h3 {
                width: fit-content;
                font-size: clamp(2.5rem, 7.032vw + 1rem - 1rem, 4.5rem);
                font-weight: 700;
                letter-spacing: -.04em;
                line-height: 88%;
                margin: 0;
            }
        }
    }
}

/* ----------------------------------------------------- Laptop -------------------------------------------- */
@media (max-width: 1025px) {

    .home_container {

        .hero_container {
            .hero_content {
                .hero_textfield {
                    width: 64.4%;
                    
                    .subHero_group {
                        width: 100%;
                    }

                    .hero_action_buttons {
                        .hero_mainBtn, .hero_subBtn {
                            height: 4rem;
                            width: 10.9rem;
                        }
                    }
                }

                .hero_image_section {
                    position: absolute ;
                    height: 100%;
                    width: 31.5%;
                    top: 0;
                    right: 0;
                }
            }
        }

        .about_container {
            .about_content_right {
                width: 64% ;
            }

            .about_content_left {
                width: 32%;

                .image_container {
                    height: 30rem !important;
                }
            }
        }

        .feedback_container {
            padding: 8rem 0;
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 769px) {

    .hero_container {

        .hero_content {

            .hero_textfield {
                width: 100% !important;

                h3 {
                    margin: 0 0 0.5rem 0 !important;
                }
                
                .subHero_group {
                    width: 64% !important;

                    p {
                        margin: 0.5rem 0 0.813rem 0 !important;
                    }

                    div {
                        align-items: end;
                        flex-direction: column;
                        row-gap: 1rem;
                        align-items: start;

                        ul {
                            flex-direction: row !important;
                            flex-wrap: wrap;
                            column-gap: 0.5rem;

                            li:nth-child(2) {
                                margin-left: 0.2rem !important;
                            }
                        }

                        .hero_action_buttons {
                            margin-top: 0.5rem !important;
                            flex-direction: row-reverse !important;

                            .hero_mainBtn, .hero_subBtn {
                                height: 3.5rem ;
                                width: 11.5rem ;
                            }

                            .hero_mainBtn:hover, .hero_subBtn:hover {
                                transform: unset !important;
                            }
                        }
                    }
                }
            }

            .hero_image_section {
                width: 15.05rem !important;
            }
        }

        .hero_slider {
            margin: 4rem 0 5rem 0 !important;

            p {
                font-size: 1.7rem !important;
                margin-bottom: 2rem !important;
            }

            .embla {
                .embla__container {
                    .embla__slide { 
                        height: 1.75rem !important;
                        margin-right: 2rem !important;
                    }
                }
            }

        }
    }

    .about_container {
        padding: 5rem 0 !important;

        .about_content_left {
            display: none !important;
        }

        .about_content_right {
            width: 100% !important;

            p {
                font-size: 2.5rem !important;
            }
        }
    }

    .project_container {
        padding: 5rem 0 !important;

        .project_hero_textfield {

            h2 {
                font-size: 9.465rem !important;
            }
        }

        .project_gallery {

            .gallery_content {
                width: 100% !important;
            }
            
            .gallery_content:nth-child(2) {
                display: none;
            } 
        }
    }

    .social_container {
        padding: 5rem 0 0 0 !important;
        
        h2 {
            font-size: 4.5rem !important;
            width: 40rem !important;
        }
    }

    .article_container {
        padding: 10rem 0 5rem 0 !important;

        h2 {
            font-size: 3.875rem !important;
        }

        .article_content {
            .single_article {
                justify-content: space-around !important;
                column-gap: 2.5rem !important;
                
                h3 {
                    font-size: 1.25rem !important;
                    color: $black-color;
                }
                
                span {
                    font-size: 2.5rem !important;
                    color: $black-color;
                }
                
                .image_container {
                    position: unset !important;
                    display: inline-block !important;
                    height: 16rem !important;
                    width: 16rem !important;
                }
            }

            .single_article:hover{
                cursor: unset !important;

                .image_container {
                    transform: rotate(0deg) !important;
                }
            }
        }
    }

    .feedback_container {
        padding: 5rem 0 !important;

        .feedback_content {
            row-gap: 3rem !important;

            h2 {
                font-size: 4.5rem !important;
            }
        }
    }

    .info_container {
        padding: 5rem 0 !important;
        flex-direction: column;
        row-gap: 2rem;

        .info_title {

            h3 {
                font-size: 4rem !important;
            }
        }
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 426px) {

    .home_container {

        .hero_container {
            .hero_content {
                .hero_textfield {
                    align-items: center;
                    
                    h1 {
                        text-align: center;
                        width: 24.1rem ;
                        font-size: 4.08rem ;
                    }
                    
                    h2 {
                        text-align: center;
                        font-size: 4.08rem ;
                    }
    
                    .hero_styler {
                        padding: 0.4rem 1.3rem 0.4rem 0.5rem !important;
                    }
    
                    .subHero_group {
                        width: 100% !important;
    
                        p {
                            width: 89% !important;
                            margin: 1rem auto !important;
                            text-align: center;
                        }
                        div {
                            ul {
                                justify-content: center;

                                li {
                                    margin-left: 0rem !important;
                                }
                            }
    
                            .hero_action_buttons {
                                row-gap: 0.5rem !important;
                                flex-direction:  column !important;
                                
                                .hero_mainBtn, .hero_subBtn {
                                    border-radius: 1.5vw !important;
                                    height: 3.75rem ;
                                    width: 24.15rem ;
                                }
                            }
                        }
                    }
                }
    
                .hero_image_section {
                    display: none !important;
                }
            }
    
            .hero_slider {
                margin-top: 4.5rem !important;

                p {
                    margin-bottom: 2rem !important;
                }

                .embla__slide {
                    height: 2.5rem !important;
                }
            }
        }
    
        .about_container {
    
            .about_content_right {
                width: 100% !important;
    
                p {
                    font-size: 2rem !important;
                }
            }
        }
    
        .project_container {
            .project_hero_textfield {
    
                h2 {
                    font-size: 5.15rem !important;
                }
            }
    
            .project_gallery {
                width: 100% !important;
    
                .gallery_content:nth-child(2), .gallery_content:nth-child(1) {
                    display: none;
                } 
            }
        }
    
        .social_container {
    
            h2 {
                font-size: 3.125rem !important;
                width: 23rem !important;
            }
    
            .icons_container {
    
                .neutral_link {
                    height: 4.5rem !important;
                    width: 6.25rem !important;
                }
    
                .neutral_link:nth-child(1):hover {
                    transform: translate(-5%, -5%) scale(1) !important;
    
                    svg {
                        scale: percentage($number: 1.1) !important;
                    }
                }
                .neutral_link:nth-child(2):hover {
                    transform: translate(0, -5%) scale(1) !important;
    
                    svg {
                        scale: percentage($number: 1.1) !important;
                    }
                }
                .neutral_link:nth-child(3):hover {
                    transform: translate(5%, -5%) scale(1) !important;
    
                    svg {
                        scale: percentage($number: 1.1) !important;
                    }
                }
            }
    
            .social_image_container {
                height: 100% !important;
            }
        }
    
        .article_container {
            h2 {
                font-size: 3.125rem !important;
            }
    
            .article_content {
                margin-top: 3rem !important;
                .single_article{
                    flex-direction: column !important;
                    row-gap: 1.5rem;
    
                    h3 {
                        font-size: 1rem !important;
                    }
    
                    span {
                        font-size: 2rem !important;
                    }
    
                    .image_container {
                        display: none !important;
                    }
                }
            }
        }
    
        .feedback_container {
            padding: 4rem 0 !important;
    
            .feedback_content {
                row-gap: 2.5rem !important;
    
                h2 {
                    font-size: 3.125rem !important;
                }
            }
        }
        
        .info_container {
            row-gap: 1.5rem !important;
    
            .info_title {
    
                h3 {
                    font-size: 3.125rem !important;
                }
            }
        }
    }

}

@media (max-width: 376px) {

    .hero_container {
        .hero_content {
            .hero_textfield {
                h1 {
                    font-size: 3.5rem !important;
                    width: 20.99rem !important;
                }
                
                h2 {
                    font-size: 3.5rem !important;
                }

                .hero_styler {
                    padding: 0.5rem 1.45rem 0.5rem 0.5rem !important;
                }

                .subHero_group {
                    div {
                        .hero_action_buttons {
                            .hero_mainBtn, .hero_subBtn {
                                width: 21.1rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .project_container {

        .project_hero_textfield {
            
            h2 {
                font-size: 4.49rem !important;
            }
        }

        .project_gallery {

            .gallery_content {
                width: 50% !important;
            }
            .gallery_content:nth-child(2), .gallery_content:nth-child(1) {
                display: none !important;
            } 
        }
    }

    .social_container {

        h2 {
            font-size: 2.813rem !important;
            width: 21rem !important;
        }

        .icons_container {

            .neutral_link {
                height: 4.1rem !important;
                width: 5.8rem !important;
            }
        }
    }

    .article_container {
        h2 {
            font-size: 2.5rem !important;
        }

        .article_content {
            .single_article{
                h3 {
                    font-size: 1rem !important;
                }

                span {
                    font-size: 2rem !important;
                }
            }
        }
    }

    .feedback_container {
        padding: 3.5rem 0 !important;

        .feedback_content {
            row-gap: 2.25rem !important;
        }
    }
    
    .info_container {
        row-gap: 1.25rem !important;

        .info_title {

            h3 {
                font-size: 2.813rem !important;
            }
        }   
    }
}

@media (max-width: 321px) {

    .hero_container {
        .hero_content {
            .hero_textfield {
                h1, h2 {
                    font-size: 3.071rem !important;
                }

                .hero_styler {
                    padding: 0.5rem 1.2rem 0.5rem 0.5rem !important;
                }

                .subHero_group {
                    div {
                        .hero_action_buttons {
                            .hero_mainBtn, .hero_subBtn {
                                height: 2.9rem !important;
                                width: 17.89rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .project_container {

        .project_hero_textfield {

            h2 {
                font-size: 3.8rem !important;
            }
        }
    }

    .social_container {

        h2 {
            font-size: 2.45rem !important;
            width: 18.5rem !important;
        }

        .icons_container {

            .neutral_link {
                height: 3.6rem !important;
                width: 5.2rem !important;

                svg {
                    font-size: 1.5rem !important;
                }
            }
        }
    }

    .feedback_container {
        padding: 3.25rem 0 !important;

        .feedback_content {
            row-gap: 1.5rem !important;

            .embla__container {
                width: 93%;
                margin: auto;
            }
        }
    }
    
    .info_container {
        row-gap: 1rem !important;

        .info_title {

            h3 {
                width: 100% !important;
                font-size: 2.5rem !important;
            }
        }
    }
}