@import "_variabels.module.scss";
@import "_mixins.module.scss";
@import "layout.module.scss";

.home_container {
    color: $black-color;
    background-color: $white-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;

    .hero_container {
        width: 95%;
        margin: auto;
        border: solid 1px red;
        height: 90vh;
    }

    .about_container {
        width: 95%;
        margin: auto;
        border: solid 1px green;
        height: 90vh;
    }

    .project_container {
        background-color: $black-color;
        color: $white-color;
        height: 90vh;
    }

    .social_container {
        width: 95%;
        margin: auto;
        border: solid 1px blue;
        height: 90vh;
    }

    .article_container {
        width: 95%;
        margin: auto;
        border: solid 1px red;
        height: 90vh;
    }

    .feedback_container {
        background-color: $primary-color;
        color: $black-color;
        height: 90vh;
    }

    .hire_container {
        background-color: $black-color;
        color: $white-color;
        height: 90vh;
    }

    .info_container {
        height: 90vh;
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border: solid 1px red;

        div:first-child {
            display: flex;
            flex-direction: column;
            row-gap: -1rem;
        }

        span {
            font-size: 4.5rem;
            font-weight: 700;
            font-style: oblique;
        }
    }


}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (min-width: 768px) {}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (min-width: 375px) {}