.nav_container {
    height: 5rem;
    width: 100%;
    max-width: 160.063rem;
    margin: auto;
    position: sticky;
    top: 0;
    box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.14);
    background-color: $white-color;
    opacity: 99.2%;
    color: $black-color;
    z-index: $high-index;
    
    .nav_content {
        height: 100%;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav_logo {
            height: 1.6rem;

            img {
                height: 100%;
                width: 100%;
            }
    
        }

        .isActive {
            text-decoration: underline ;
            text-decoration-thickness: 0.1rem;
            text-decoration-color: $black-color;
            text-underline-offset: 0.6rem;
            text-decoration-style:wavy;
        }
    
        .nav_links {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
    
            ul {
                display: flex;
                column-gap: 1.7rem;
    
                li {
                    padding: 0.5rem 0;
                    font-size: 0.92rem;
                    font-weight: 500;
                    color: $black-color;
                    letter-spacing: .025em;
                    line-height: 140%;
                }
                
                li:hover {
                    text-decoration: underline ;
                    text-decoration-thickness: 0.1rem;
                    text-decoration-color: $black-color;
                    text-underline-offset: 0.6rem;
                    text-decoration-style:wavy;
                }
            }
    
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
                @include buttons;
                border: none;
            }
    
            button:hover, button:focus {
                @include hover_button_effects;
            }

            svg {
                margin-bottom: 0.15rem;
            }

            svg:nth-child(3) {
                display: none;
            }
        }
    }

    .toggleMenu {
        .toggleMenu_content {

            .toggleMenu_nav {
                .toggleMenu_logo {
                    height: 1.2rem;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .toggleMenu_links {
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 3rem;
            }
        }
    }
}

.nav_dark_container {
    height: 5rem;
    width: 100%;
    max-width: 160.063rem;
    margin: auto;
    position: sticky;
    top: 0;
    box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.14);
    background-color: $black-color;
    color: $white-color;
    z-index: 1001;

    .nav_dark_content {
        height: 100%;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .nav_dark_logo {
            height: 1.6rem;

            img {
                height: 100%;
                width: 100%;
            }
    
        }
    
        .isActive_dark {
            text-decoration: underline ;
            text-decoration-thickness: 0.1rem;
            text-decoration-color: $white-color;
            text-underline-offset: 0.6rem;
            text-decoration-style:wavy;
        }
    
        .nav_dark_links {
            
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
    
            ul {
                display: flex;
                column-gap: 1.7rem;
    
                li {
                    padding: 0.5rem 0;
                    font-size: 0.92rem;
                    font-weight: 500;
                    color: $white-color;
                    letter-spacing: .025rem;
                    line-height: 140%;
                }
                
                li:hover {
                    text-decoration: underline ;
                    text-decoration-thickness: 0.1rem;
                    text-decoration-color: $white-color;
                    text-underline-offset: 0.6rem;
                    text-decoration-style:wavy;
                }
            }
    
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
                @include buttons;
                background-color: $white-color;
                color: $black-color;
                border: none;
            }
    
            button:hover {
                @include hover_button_effects;
            }

            svg {
                margin-bottom: 0.15rem;
            }

            svg:nth-child(3) {
                display: none;
            }
        }
    }

    .toggleMenu_dark {
        .toggleMenu_dark_content {

            .toggleMenu_dark_nav {
                .toggleMenu_dark_logo {
                    height: 1.2rem;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .toggleMenu_dark_links {
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 3rem;
            }
        }
    }
}

.loader_container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.error_container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: $white-color;
    
    h1 {
        color: $white-color;
        font-weight: bolder;
        text-decoration: double;
    }

    p {
        width: 500px;
        text-align: center;
        letter-spacing: normal;
    }

    div {
        display: flex;
        column-gap: 1rem;
    }


    button {
        @include buttons;
    }

    button:hover {
        @include hover_button_effects;
    }
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-width: 160.063rem;
    margin: auto;
    padding: 5rem 0 1rem 0;
    background-color: $black-color;
    color: $white-color;

    .footer_top {
        height: 100%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
        .footer_top_links {
            display: flex;
            column-gap: 2.5rem;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 0.15rem;
                padding: 0;
                margin: 0;

                li {
                    @include footer_text_links;
                }
            }
        }

        .footer_top_newsletter {
            width: 20rem;
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;

            p {
                @include footer_text_links;
                width: 14rem;
                margin: 0;
            }

            input {
                position: relative;
                @include text_field_newsletter;
            }

            input:focus {
                border-bottom: solid 0.063rem white;
            }

            ::placeholder {
                color: $white-color;
                font-family: $primary-font;
            }

            svg {
                position: absolute;
                font-size: 2.2rem;
                margin-top: 4.8rem;
                right: 23.5rem;
            }
        }
    }

    .footer_bottom {
        height: 100%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .footer_bottom_logo_container {
            height: 20rem;
            margin: 1.5rem auto;

            img {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        }

        .footer_bottom_info {
            
            display: flex;
            justify-content: space-between;

            span {
                line-height: 150%;
                font-weight: 500;
            }
        }
    }
}

/* ----------------------------------------------------- Desktop -------------------------------------------- */
@media (max-width: 1921px) {

    .nav_container {

        .nav_content {
            width: 95%;
        }
    }

    .nav_dark_container {

        .nav_dark_content {
            width: 95%;
        }
    }

    .footer_container {

        .footer_top {
            width: 95%;

            .footer_top_newsletter {

                svg {
                    right: 2.15rem;
                }
            }
        }

        .footer_bottom{
            width: 95%;
        }
    }
}

@media (max-width: 1441px) {

    .nav_container {

        .nav_content {
            width: 95%;
        }
    }

    .nav_dark_container {

        .nav_dark_content {
            width: 95%;
        }
    }

    .footer_container {

        .footer_top {
            width: 95%;

            .footer_top_newsletter {

                svg {
                    right: 2rem;
                }
            }
        }

        .footer_bottom{
            width: 95%;
        }
    }
}

/* ----------------------------------------------------- Laptop -------------------------------------------- */
@media (max-width: 1115px) {

    .footer_container {
        padding: 3rem 0;

        .footer_top {
            justify-content: space-between;
            row-gap: 3rem;

            .footer_top_newsletter {
                svg {
                    position: absolute;
                    font-size: 2.2rem;
                    right: 0.65rem;
                }
            }
        }

        .footer_bottom_logo_container {
            height: 16rem ;
        }
    }

    .nav_container {

        .nav_content {

            .nav_links {
                column-gap: 1rem !important;

                button {
                    height: 2.55rem;
                }

                svg {
                    display: block;
                    font-size: 1.6rem;
                }
            }
        }

        .toggleMenu {
            transform-origin: top;
            position: fixed;
            top: 0;
            left: 0;
            height: 100dvh;
            width: 100%;
            background-color: $white-color;
            color: $black-color;

            .toggleMenu_content {
                height: 100%;
                width: 95%;
                margin: auto;

                .toggleMenu_nav {
                    margin-top: 1.4rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 2.188rem;
                        font-weight: 600;
                        letter-spacing: -.04rem;
                    }

                    svg {
                        font-size: 1.6rem;
                        margin-bottom: 0.1rem;
                    }
                }

                .toggleMenu_links {
                    height: 100%;
                    width: 100%;
                    
                    ul {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        li {
                            font-size: 3rem;
                            font-weight: 500;
                            letter-spacing: -.04em;
                            line-height: 150%;
                        }
                    }
                }

                .isActive {
                    text-decoration: underline ;
                    text-decoration-thickness: 0.2rem;
                    text-decoration-color: $black-color;
                    text-underline-offset: 0.65rem;
                    text-decoration-style:wavy;
                }
            }
        }
    }

    .nav_dark_container {

        .nav_dark_content {

            .nav_dark_links {
                column-gap: 1rem !important;

                button {
                    height: 2.55rem;
                }

                svg {
                    display: block;
                    font-size: 1.6rem;
                }
            }
        }

        .toggleMenu_dark {
            transform-origin: top;
            position: fixed;
            top: 0;
            left: 0;
            height: 100dvh;
            width: 100%;
            background-color: $black-color;
            color: $white-color;

            .toggleMenu_dark_content {
                height: 100%;
                width: 95%;
                margin: auto;

                .toggleMenu_dark_nav {
                    margin-top: 1.4rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 2.188rem;
                        font-weight: 600;
                        letter-spacing: -.04rem;
                    }

                    svg {
                        font-size: 1.6rem;
                        margin-bottom: 0.1rem;
                    }
                }

                .toggleMenu_dark_links {
                    height: 100%;
                    width: 100%;
                    
                    ul {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        li {
                            font-size: 3rem;
                            font-weight: 500;
                            letter-spacing: -.04em;
                            line-height: 150%;
                        }
                    }
                }

                .isActive_dark {
                    text-decoration: underline ;
                    text-decoration-thickness: 0.2rem;
                    text-decoration-color: $white-color;
                    text-underline-offset: 0.65rem;
                    text-decoration-style:wavy;
                }
            }
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 835px) {

    .nav_container {
        .nav_links {
            button {
                display: none !important;
            }

            ul {
                display: none !important;
            }

            svg:nth-child(3) {
                display: block !important;
            }
        }
    }

    .nav_dark_container {
        .nav_dark_links {
            button {
                display: none !important;
            }

            ul {
                display: none !important;
            }

            svg:nth-child(3) {
                display: block !important;
            }
        }
    }

    .footer_container {

        .footer_top {
            flex-direction: column;

            .footer_top_newsletter {
                width: 100%;

                svg {
                    margin-top: 4.3rem !important;
                    right: 0.9rem !important;
                }
            }
        }

        .footer_bottom {
            .footer_bottom_info {
                flex-direction: column;
                row-gap: 0.15rem;
            }
        }
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 441px) {

    .nav_container {
        height: 4rem !important;

        .nav_logo {
            height: 1.2rem !important;
        }
    }

    .nav_dark_container {
        height: 4rem !important;

        .nav_dark_logo {
            height: 1.2rem !important;
        }
    }

    .footer_container {
        padding: 2.3rem 0 0.5rem 0 !important;

        .footer_top {
            row-gap: 2.3rem !important;

            .footer_top_newsletter {
                
                svg {
                    font-size: 2rem !important;
                    margin-top: 3.65rem !important;
                    right: 0.32rem !important;
                }
            } 
        }


        .footer_bottom_logo_container {
            height: 7rem !important;
        }
    }
}