.projects_container {
    height: fit-content;
    background-color: $black-color;
    color: $white-color;
    padding: 4.8rem 0;

    .projects_title {
        height: fit-content;
        width: 95%;
        margin: auto auto 4.3rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
            font-size: clamp(5rem, 19.097vw + 1rem - 1rem, 15rem);
            font-weight: 600;
            line-height: 83%;
            letter-spacing: -.08em;
        }
    }

    .projects_content {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10rem;

        .projects_cards_container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(15rem, 1fr));
            row-gap: 8rem;
            column-gap: 2rem;

            .single_card {
                height: 38rem;

                .image_wrapper {
                    border-radius: 1vw;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transition: transform .8s ease;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }

                h2 {
                    margin: 1rem 0 0.2rem 0 ;
                    font-size: clamp(1rem, 2.5vw + 1rem - 1rem, 1.5rem);
                    font-weight: 500;
                    text-decoration:underline;
                    letter-spacing: -.02em;
                    line-height: 116%;
                }

                h3 {
                    margin: 0;
                    font-size: clamp(1rem, 2.5vw + 1rem - 1rem, 1.5rem);
                    font-weight: 500;
                    letter-spacing: -.02em;
                    line-height: 116%;
                }
            }
        }

        h4 {
            font-size: clamp(3.5rem, 12vw + 1rem - 1rem, 7.5rem);
            font-weight: 700;
            letter-spacing: -.08em;
            margin: 0;
            transition: ease-in-out 0.3s;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
        }

        h4:hover, :focus {
            scale: percentage($number: 1.025);
        }

        .prev_btn {
            opacity: .2;
        }

        .prev_btn:hover {
            scale: initial !important;
            width: fit-content;
        }
    }
}

.projectsDetails_container {
    height: fit-content;
    padding: 3.5rem 0;
    width: 95%;
    margin: auto;

    @keyframes slide_up_text_big {
        from {
            transform: translateY(150%) skewY(15deg);
        }
        to {
            transform: translateY(0) skewY(0deg);
        }
    }

    @keyframes slide_up_text_small {
        from {
            transform: translateY(10vh) skewY(15deg);
        }
        to {
            transform: translateY(0) skewY(0deg);
        }
    }

    @keyframes slide_up_card {
        from {
            transform: translateY(10vh) scale(0.85) ;
        }
        to {
            transform: translateY(0) scale(1);
        }
    }


    .projectsDetails_title {
        border-bottom: solid 1px $black-color;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 3rem;
        
        div:nth-of-type(2) {
            width: clamp(20rem, 68.08vw + 1rem - 1rem, 55.15rem);
        }

        h1 {
            margin: 0;
            text-transform: uppercase;
            font-size: clamp(2.6rem, 11.5vw + 1rem - 1rem, 7.5rem);
            font-weight: 600;
            line-height: 86%;
            letter-spacing: -.08em;
            animation: 0.6s slide_up_text_big;
        }

        h6 {
            margin: 0;
            font-size: clamp(1rem, 3.5vw + 1rem - 1rem, 1.5rem);
            letter-spacing: -.02em;
            font-weight: 500;
            line-height: 116%;
            text-transform: capitalize;
            animation: 0.6s slide_up_text_small;
        }
    }

    .projectsDetails_content {
        padding: clamp(3rem, 8vw + 1rem - 1rem, 5rem ) 0 clamp(4rem, 13.5vw + 1rem - 1rem, 8rem) 0;
        width: clamp(20rem, 68.08vw + 1rem - 1rem, 55.15rem);
        margin-left: auto;

        h3 {
            font-size: clamp(1.25rem, 4vw + 1rem - 1rem, 2rem);
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -.04em;
            margin: 0;
        }

        img {
            height: clamp(22rem, 80vw + 1rem - 1rem, 54rem);
            width: 100%;
            margin: 4rem 0;
            border-radius: 0.5rem;
        }

        h2 {
            margin: 0 0 1.7rem 0;
            font-size: clamp(2rem, 6vw + 1rem - 1rem, 3rem);
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -.04em;
        }

        p {
            margin: 0;
            font-size: clamp(0.875rem, 2.5vw + 1rem - 1rem, 1.25rem);
            font-weight: 500;
            letter-spacing: -.01em;
            line-height: 140%;
        }

        .duo_images {
            display: flex;
            justify-content: space-between;
            margin: 2rem 0 4rem 0;

            img {
                margin: 0;
                height: clamp(12.6rem, 50vw + 1rem - 1rem, 31.25rem);
                width: 49%;
            }
        }

        .single_image {
            margin-top: 2rem;
        }

        .result_images {
            display: flex;
            flex-direction: column;
            row-gap: 0;

            .duo_images {
                margin-bottom: 0;
            }

            .single_image {
                margin: 2rem 0 0 0;
            }
        }
    }

    .projectsDetails_otherProjects_container {
        border-top: solid 1px $black-color;
        padding: clamp(3rem, 13.5vw + 1rem - 1rem, 9rem) 0;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        span {
            width: 27%;
            font-size: clamp(2.5rem, 8vw + 1rem - 1rem, 4.5rem);
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -.04em;
        }

        .otherProjects_content {
            display: grid;
            grid-template-columns: repeat(4, minmax(13.43rem, 1fr));
            justify-content: space-between;
            column-gap: 2rem;
            row-gap: 2rem;

            .single_project {
                height: fit-content;
                animation: ease-in-out slide_up_card;
                animation-timeline: view();
                animation-range: entry -15% cover 20%;

                .image_wrapper {
                    height: clamp(18rem, 33vw + 1rem - 1rem, 25rem);
                    width: 100%;
                    overflow: hidden;
                    border-radius: 1vw;
                    
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transition: transform .8s ease;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }

                h4 {
                    margin: 1rem 0 0.2rem 0 ;
                    font-size: clamp(0.875rem, 2.22vw + 1rem - 1rem, 1.25rem);
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                    text-decoration:underline;
                }

                h5 {
                    margin: 0;
                    font-size: clamp(1rem, 2.61vw + 1rem - 1rem, 1.5rem);
                    font-weight: 500;
                    line-height: 116%;
                    letter-spacing: -.02em;
                }
            }
        }
    }
}

/* ----------------------------------------------------- laptop -------------------------------------------- */
@media (max-width: 1024px) {

    .projects_container {

        .single_card {
            height: 32rem !important; 
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 769px) {

    .projects_container {
        padding: 0 0 4.8rem 0 !important;

        .single_card {
            height: 25.5rem !important;
        }
    }

    .projectsDetails_container {

        .projectsDetails_title {
            flex-direction: column !important;
            align-items: start !important;
            row-gap: 2rem ;
            
                div {
                    width: 100% !important;
                }
        }

        .projectsDetails_content {
            width: 100% !important;
        }

        .projectsDetails_otherProjects_container {

            .otherProjects_content {
                grid-template-columns: repeat(2, minmax(10rem, 1fr) );
            }
        }
    }

}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 426px) {

    .projects_container {

        .projects_title {

            h1 {
                font-size: 5.023rem !important;
            }
        }

        .projects_content {

            .projects_cards_container {
                grid-template-columns: repeat(1, minmax(12rem, 1fr) );
            }

            .single_card {
                height: 22.5rem !important;
            }
        }
    }

    .projectsDetails_container {

        .projectsDetails_content {

            .duo_images {
                img {
                    width: 48% !important;
                }
            }
        }

        .projectsDetails_otherProjects_container {

            .otherProjects_content {
                grid-template-columns: repeat(1, minmax(10rem, 1fr) );
            }
        }
    }

}

@media (max-width: 376px) {

    .projects_container {

        .projects_title {

            h1 {
                font-size: 4.4rem !important;
            }
        }

        .projects_content {

            .single_card {
                height: 19rem !important;
            }
        }

    }
}

@media (max-width: 321px) {

    .projects_container {

        .projects_title {

            h1 {
                font-size: 3.69rem !important;
            }
        }

        .projects_content {

            .single_card {
                height: 17rem !important;
            }
        }
    }
}