.services_container {
    padding: 1rem 0 10rem 0;
    width: 95%;
    margin: auto;
    min-height: fit-content;
    position: relative;

    @keyframes slide_up_header {
        from {
            transform: translateY(40vh) skewY(15deg);
        }
        to {
            transform: translateY(0) skewY(0deg);
        }
    }

    @keyframes slide_up_text {
        from {
            transform: translateX(13vh) ;
        }
        to {
            transform: translateX(0) ;
        }
    }

    @keyframes slide_in_card {
        from {
            transform: translateY(43vh) scale(0.7);
        }
        to {
            transform: translateY(0) scale(1);
        }
    }

    .services_hero_section {
        min-height: 83.35dvh;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 7rem;

        .hero_tittle_container {
            position: absolute;
            top: 1rem;
            left: 0;

            h1 {
                margin: 0;
                font-size: clamp(5.313rem, 20vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                letter-spacing: -.08em;
                line-height: 83%;
                animation: ease-in 0.6s slide_up_header;
                font-style: oblique;
            }

            h2 {
                margin: 0;
                font-size: clamp(5.313rem, 20vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                letter-spacing: -.08em;
                line-height: 83%;
                animation: ease-in 0.6s slide_up_header;
                font-style: oblique;
            }
        }        

        .hero_content_container {
            margin-top: 9.96rem;
            height: fit-content;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            overflow: hidden;
            align-self: end;

            h4 {
                font-size: clamp(.875rem, 2.5vw + 1rem - 1rem, 1.25rem);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: -.03em;
                margin: 0;
                animation: ease-in 0.6s slide_up_text;
            } 

            .hero_image_container {
                height: 18rem;
                width: 33.75rem;
                overflow: hidden;
                animation: ease-in 0.6s slide_in_card;
                align-self: flex-end;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 1vw 1vw 0vw 1vw; 
            }
        }
    }

    .services_slider_section {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        padding: 0.5rem;
        color: $white-color;
        background-color: $black-color;
        border-radius: 1vw;

        span {
            width: 27.7rem;
            min-width: 6.1rem;
            font-size: clamp(1.05rem, 2.7vw + 1rem - 1rem, 1.9rem);
            font-weight: 600;
            letter-spacing: -.02em;
            line-height: 100%;
            font-style: oblique;
        }

        .embla {
            overflow: hidden;
            .embla__container {
                display: flex;
                
                .embla__slide {
                    text-align: center;
                    margin-left: 1.8rem;
                    font-size: 7.5rem;
                    font-weight: 700;
                    line-height: 86%;
                    letter-spacing: -.08em;
                    text-transform: uppercase;
                    padding-right: 0.6rem;
                }
            }
        }
    }

    .services_content_section {
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        padding: 1rem 0;

        div:nth-child(1), div:nth-child(3) {
            flex-direction: row-reverse;
        }
        
        .content_speciality_section {
            display: flex;
            justify-content: space-between;
            column-gap: 2.5rem;
            
            div:first-child {
                width: clamp(18rem, 55vw + 1rem - 1rem, 44.5rem);
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                background-color: $primary-color;
                padding: 1rem;
                border-radius: 97% 3% 34% 66% / 57% 30% 70% 43%;

                h3 {
                    margin:  0;
                    font-size: clamp(1.3rem, 3.5vw + 1rem - 1rem, 2.5rem);
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -.02em;
                }

                p {
                    margin: 1.2rem 0 2.2rem 0;
                    font-size: clamp(0.875rem, 2.5vw + 1rem - 1rem, 1.25rem);
                    font-weight: 400;
                    line-height: 140%
                }

                button {
                    @include buttons;
                }

                button:hover {
                    @include hover_button_effects;
                }
            }

            .content_speciality_image {
                height: clamp(25rem, 52.5vw + 1rem - 1rem, 40rem);
                width: clamp(15rem, 45vw + 1rem - 1rem, 37.5rem);
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1vw;
                }
            }
        }
    }
}



/* ----------------------------------------------------- laptop -------------------------------------------- */
@media (max-width: 1025px) {

    .services_slider_section {

        span {
            width: 38.5rem !important ;
        }
    }

    .services_hero_section {
        min-height: 81dvh !important;
        
        .hero_image_container {
            height: 14.1rem !important;
            width: 16.5rem !important;
        }
    }

}
/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 769px) {

    .services_content_section {

        .content_speciality_section {
            flex-direction: column-reverse !important;
            row-gap: 2rem;

            div:first-child {
                width: 100% !important;
            }

            .content_speciality_image {
                width: 100% !important;
            }
        }
    }

    .services_slider_section {

        span {
            width: 39rem !important ;
        }
    }

    .services_hero_section {
        min-height: 60.7dvh !important;

        .hero_image_container {
            height: 10.1rem !important;
            width: 13.1rem !important;
        }
    }

}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 426px) {

    .services_content_section {

        .content_speciality_section {
            flex-direction: column-reverse !important;
            row-gap: 1.5rem !important;

            div:first-child {
                width: 100% !important;
            }

            .content_speciality_image {
                width: 100% !important;
            }
        }
    }

    .services_hero_section {
        
        min-height: 40dvh !important;

        .hero_image_container {
            height: 13.15rem !important;
            width: 24.15rem !important;

            img {
                border-radius: 1vw !important;
            }
        }
    }

    .services_slider_section {

        span {
            min-width: 6.8rem !important ;
        }
    }
}

@media (max-width: 376px) {

    .services_hero_section {

        .hero_image_container {
            height: 12.18rem !important;
            width: 21.18rem !important;
        }
    }
}

@media (max-width: 321px) {

    .services_hero_section {
        .hero_image_container {
            height: 10.5rem !important;
            width: 17.89rem !important;
        }
    }
}