.services_container {
    padding: 1.5rem 0 5rem 0;
    min-height: fit-content;
    position: relative;

    @keyframes slide_up_header {
        from {
            transform: translateY(170%) skewY(12deg);
        }
        to {
            transform: translateY(0) skewY(0deg);
        }
    }

    @keyframes slide_up_text {
        from {
            transform: translateX(13vh) ;
        }
        to {
            transform: translateX(0) ;
        }
    }

    @keyframes slide_in_card {
        from {
            transform: translateY(100%) scale(0.7);
        }
        to {
            transform: translateY(0) scale(1);
        }
    }

    .services_hero_section {
        min-height: 83.35dvh;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .hero_tittle_container {
            min-width: 90%;
            position: absolute;
            top: 1.5rem;
            left: 2%;

            h1 {
                margin: 0;
                font-size: clamp(6.313rem, 20vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                letter-spacing: -.08em;
                line-height: 83%;
                animation: ease-in 0.6s slide_up_header;
                font-style: oblique;
            }

            h2 {
                margin: 0;
                font-size: clamp(6.313rem, 20vw + 1rem - 1rem, 15rem);
                font-weight: 600;
                letter-spacing: -.08em;
                line-height: 83%;
                animation: ease-in 0.6s slide_up_header;
                font-style: oblique;
            }
        }        

        .hero_content_container {
            margin-top: 9.96rem;
            height: fit-content;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            overflow: hidden;
            align-self: end;

            h4 {
                font-size: clamp(.875rem, 2.5vw + 1rem - 1rem, 1.25rem);
                font-weight: 500;
                line-height: 140%;
                letter-spacing: -.03em;
                margin: 0;
                animation: ease-in 0.6s slide_up_text;
            } 

            .hero_image_container {
                height: 18rem;
                width: 33.75rem;
                overflow: hidden;
                animation: ease-in 0.6s slide_in_card;
                align-self: flex-end;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 1vw; 
                }
            }

        }
    }

    .services_opener_paragraph {
        width: 95%;
        margin: 7rem auto 10rem auto;
        text-align: center;
        font-size: clamp(1.25rem, 3vw + 1rem - 1rem, 2rem);

        span {
            font-weight: 600;
        }
    }

    .services_content_section {
        width: 95%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        padding: 1rem 0;
        
        div:nth-child(1), div:nth-child(3) {
            flex-direction: row-reverse;
        }
        
        .content_speciality_section {
            display: flex;
            justify-content: space-between;
            column-gap: 2.5rem;
            
            div:first-child {
                width: clamp(18rem, 55vw + 1rem - 1rem, 44.5rem);
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                padding: 1rem ;

                h3 {
                    margin:  0;
                    font-size: clamp(1.7rem, 4.6vw + 1rem - 1rem, 2.5rem);
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -.02em;
                }

                p {
                    margin: 1rem 0 2rem 0;
                    font-size: clamp(1rem, 2.5vw + 1rem - 1rem, 1.25rem);
                    font-weight: 400;
                    letter-spacing: -.015em;
                    line-height: 135%
                }

                a {
                    width: fit-content;

                    button {
                        @include buttons;
                    }
    
                    button:hover {
                        @include hover_button_effects;
                    }
                }
            }

            .content_speciality_image {
                height: clamp(22.5rem, 52.5vw + 1rem - 1rem, 37.5rem);
                width: clamp(15rem, 45vw + 1rem - 1rem, 37.5rem);
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1vw;
                }
            }
        }
    }

    .services_slider_section {
        width: 95%;
        margin: 5rem auto 0 auto;
        display: flex;
        flex-direction: column;

        p {
            text-align: center;
            font-size: clamp(1.25rem, 3.5vw + 1rem - 1rem, 2rem);
            margin-bottom: 2.75rem;
        }

        .embla {
            background-color: $black-color;
            padding: 2rem 0;
            overflow: hidden;
            border-radius: 0.35vw;

            .embla__container {
                display: flex;

                .embla__slide {
                    height: 2.8rem;
                    margin-left: 5rem;

                    img {
                        height: 100%;
                        width: fit-content;
                    }
                }
            }
        }
    }

}

/* ----------------------------------------------------- laptop -------------------------------------------- */
@media (max-width: 1025px) {

    .services_hero_section {
        min-height: 81dvh !important;
        
        .hero_image_container {
            height: 14.25rem !important;
            width: 24rem !important;
        }
    }

    .services_opener_paragraph {
        width: 89% !important;
    }

    .services_content_section {      
        .content_speciality_section {
            column-gap: 2rem !important;
        }
    }

    .services_slider_section {
        span {
            width: 38.5rem !important ;
        }
    }

}
/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 835px) {

    .services_container {

        .services_hero_section {
            min-height: 60.7dvh !important;
    
            .hero_image_container {
                height: 10.5rem !important;
                width: 17.5rem !important;
            }
        }
    
        .services_opener_paragraph {
            margin: 7rem auto 4rem auto !important;
        }
    
        .services_content_section {
            
            .content_speciality_section {
                flex-direction: column-reverse !important;
                row-gap: 2rem;
                
                div:first-child {
                    width: 100% !important;
                }
    
                .content_speciality_image {
                    width: 100% !important;
                }
            }
        }
    
        .services_slider_section {
            width: 100% !important;
            margin: 3rem auto 0rem auto !important;
    
            span {
                width: 39rem !important ;
            }
    
            .embla {
                border-radius: 0 !important;
    
                .embla__slide {
                    height: 2.8rem !important;
                }
            }
    
        }
    }

}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 441px) {

    .services_container {
        padding: 1rem 0 3.5rem 0 !important;

        .services_hero_section {
            width: 95% !important;
            margin: auto;
            min-height: 40dvh !important;

            .hero_content_container {

                h4 {
                    width: 95% !important;
                    margin: auto !important;
                }

                .hero_image_container {
                    height: 13.15rem !important;
                    width: 24.25rem !important;
                }
            }
        }

        .services_opener_paragraph {
            margin: 2.5rem auto 4rem auto !important;
        }

        .services_content_section {
            
            .content_speciality_section {
    
                div:first-child {
                    padding: 0;

                    h3, p {
                        padding: 0 1rem;
                    }
                    
                    a {
                        width: 100% !important;

                        button {
                            height: 3rem !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    
        .services_slider_section {
    
            span {
                min-width: 6.8rem !important ;
            }
    
            .embla__slide {
                height: 2rem !important;
                margin-left: 3rem !important;
            }
        }
    }

}

@media (max-width: 391px) {

    .services_hero_section {

        .hero_tittle_container {
            h1,h2 {
                font-size: 5.75rem !important;
            }
        }

        .hero_image_container {
            height: 11rem ;
            width: 10rem ;
        }
    }
}

@media (max-width: 321px) {

    .services_hero_section {

        .hero_tittle_container {
            h1,h2 {
                font-size: 5.313rem !important;
            }
        }

        .hero_image_container {
            height: 5rem;
        }
    }

    .services_opener_paragraph {
        width: 99% !important;
    }
}