.hire_container {
    background-color: $black-color;
    color: $white-color;
    height: 80vh;
    background-image: url('https://assets-global.website-files.com/6606f0f658b42ca7220e3695/660bfcae5749fee5cdae4952_Bg%20Text%20Video-poster-00001.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .hire_overlay {
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        z-index: $low-index;
    }

    .hire_content {
        height:100%;
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        position: inherit;
        z-index: $base-index !important;
        justify-content: flex-end;
        bottom: 15%;

        p {
            width: clamp(18.3rem, 76vw + 1rem - 1rem, 60rem);
            margin: 0;
            font-size: clamp(1.563rem, 4.688vw + 1rem - 1rem, 3rem);
            font-weight: 600;
            line-height: 1;
            letter-spacing: -.04em;
        }

        button {
            width: 9%;
            height: 3rem;
            background: $white-color;
            color: $black-color;
            border: none;
            border-radius: 0.5vw;
            font-size: 1rem;
            font-weight: 500;
            transition: transform 1000ms;
        }
        
        button:hover, button:focus {
            cursor: pointer;
            transform:translateY(-15%) translateX(4%);
            transition: transform 250ms;
        }
    }
}

/* ----------------------------------------------------- Desktop -------------------------------------------- */
@media (max-width: 1921px) {
    .hire_container {
        height: 95vh;

        .hire_content {
            width: 95%;
        }
    }
}

@media (max-width: 1441px) {
    .hire_container {
        height: 80vh;
        .hire_content {
            width: 95%;
        }
    }
}

/* ----------------------------------------------------- Laptop -------------------------------------------- */
@media (max-width: 1115px) {
    .hire_container {
        height: 90vh;
        .hire_content {
            p {
                width: 100% ;
            }

            button {
                width: 13.25%;
            }
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 835px) {
    .hire_container {
        height: 55vh ;

        .hire_content {

            p {
                font-size: 2.25rem !important;
            }

            button {
                height: 2.75rem !important;
                width: 17% !important;
                font-size: 1rem !important;
            }

            button:hover, button:focus {
                transform: none !important;
                transition: none !important;
            }
        }
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 441px) {
    .hire_container {
        height: 90vh;
        
        .hire_content {
            p {
                line-height: 1.05;
                font-size: 1.875rem !important;
            }

            button {
                border-radius: 1vw !important;
                height: 2.5rem !important;
                width: 27% !important;
            }
        }
    }
}

@media (max-width: 394px) {

    .hire_container {
        .hire_content {

            p {
                font-size: 1.75rem !important;
            }

            button {
                width: 32.5% !important;
            }
        }
    }
}

@media (max-width: 321px) {
    .hire_container {
        .hire_content {

            p {
                font-size: 1.625rem !important;
            }

            button {
                width: 35% !important;
            }
        }
    }
}